@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<link href="~/Content/materialize/css/materialize.css" rel="stylesheet" />
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script>
    var map, placesList;
    var service; //declare globally
    var count = 0;
    var count2 = 0;
    var lt = 36.544484;
    var lg = 31.998925;
    var rd = 3600;
    var x = new Array();
    var markers = [];
    var infoBubble;
    var placeType = "restaurant";
    $(document).ready(function () {
        $.getScript('/Content/rate/jquery.raty.js');
        FastClick.attach(document.body);
        infoBubble = new InfoBubble({
            maxWidth: 250,
            position: new google.maps.LatLng(-35, 151),
            shadowStyle: 1,
            padding: 8,
            backgroundColor: 'rgb(237, 247, 247)',
            borderRadius: 10,
            arrowSize: 15,
            borderWidth: 1,
            borderColor: 'rgb(41, 176, 173)',
            disableAutoPan: true,
            //hideCloseButton: true,
            arrowPosition: 30,
            backgroundClassName: 'phoney',
            arrowStyle: 2,
            minHeight: '100%'
        });
        $('#panel').toggle();
        $('#panel-body').toggle();
        $('#panel').css({ top: '60px' });
        $('#panel').css({ width: '100px !important' });

        var flag = false;
        $("#togglePanel").bind('touchstart click', function () {
            if (!flag) {
                flag = true;
                setTimeout(function () { flag = false; }, 100);
                $('#panel-body').toggle();
                if ($('#panel').css('top') != "60px") {
                    $('#panel').css({ top: '60px' });
                    $('#panel').css({ width: '100px' });
                }
                else {
                    $('#panel').css({ top: '82px' });
                    $('#panel').css({ width: '200px' });
                }
            }
            return false
        });

        var flag2 = false;
        $("#detailModal").bind('touchstart click', function () {
            if (!flag2) {
                flag2 = true;
                setTimeout(function () { flag2 = false; }, 100);
            }
            return false
        });

        var flag3 = false;
        $("#bar").bind('touchstart click', function () {
            if (!flag3) {
                flag3 = true;
                setTimeout(function () { flag3 = false; }, 100);
                placeType = 'bar';
                getlaces();
                API.close();
            }
            return false
        });
        var flag4 = false;
        $("#taxi").bind('touchstart click', function () {
            if (!flag4) {
                flag4 = true;
                setTimeout(function () { flag4 = false; }, 100);
                placeType = 'taxi';
                getlaces();
                API.close();
            }
            return false
        });
        var flag5 = false;
        $("#pizza").bind('touchstart click', function () {
            if (!flag5) {
                flag5 = true;
                setTimeout(function () { flag5 = false; }, 100);
                placeType = 'pizza';
                getlaces();
                API.close();
            }
            return false
        });
        var flag6 = false;
        $("#atm").bind('touchstart click', function () {
            if (!flag6) {
                flag6 = true;
                setTimeout(function () { flag6 = false; }, 100);
                placeType = 'atm';
                getlaces();
                API.close();
            }
            return false
        });
        var flag7 = false;
        $("#bag").bind('touchstart click', function () {
            if (!flag7) {
                flag7 = true;
                setTimeout(function () { flag7 = false; }, 100);
                placeType = 'bag';
                getlaces();
                API.close();
            }
            return false
        });
        var flag8 = false;
        $("#bike").bind('touchstart click', function () {
            if (!flag8) {
                flag8 = true;
                setTimeout(function () { flag8 = false; }, 100);
                placeType = 'bisiklet';
                getlaces();
                API.close();
            }
            return false
        });
        var flag9 = false;
        $("#kebap").bind('touchstart click', function () {
            if (!flag9) {
                flag9 = true;
                setTimeout(function () { flag9 = false; }, 100);
                placeType = 'kebap';
                getlaces();
                API.close();
            }
            return false
        });
        var flag10 = false;
        $("#restaurant").bind('touchstart click', function () {
            if (!flag10) {
                flag10 = true;
                setTimeout(function () { flag10 = false; }, 100);
                placeType = 'restaurant';
                getlaces();
                API.close();
            }
            return false
        });
        var flag11 = false;
        $("#car").bind('touchstart click', function () {
            if (!flag11) {
                flag11 = true;
                setTimeout(function () { flag11 = false; }, 100);
                placeType = 'car';
                getlaces();
                API.close();
            }
            return false
        });
        //disable google infowindow
        $("#map-canvas").bind('touchstart click', function () {
            setTimeout(function () {
                disableInfoWindows();
                if ($('#panel').css('top') != "60px") {
                    $('#panel-body').toggle();
                    $('#panel').css({ top: '60px' });
                    $('#panel').css({ width: '100px' });
                }
            }, 555);
        });

        function disableInfoWindows() {
            $(".gm-iw.gm-sm").parent().parent().remove();
            $("[style='position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;']")
            .parent()
            .parent()
            .remove();
        }
        //////////////////////////////
        $(window).resize(function () {
            $("#map-canvas").height($(window).height() - 60);

        });
        $('#menu').mmenu({
            extensions: ['effect-slide', 'pageshadow', "theme-dark"],
            header: true,
            searchfield: true,
            counters: true,
            footer: {
                add: true,
                content: '<a href="">Visit website &rsaquo;</a>'
            }

        });
        var API = $("#menu").data("mmenu");
        API.open();
    });


    function initialize() {
        $("#map-canvas").height($(window).height() - 60);
        var pyrmont = new google.maps.LatLng(lt, lg);
        map = new google.maps.Map(document.getElementById('map-canvas'), {
            center: pyrmont,
            zoom: 14,
            disableDefaultUI: true,
            zoomControl: true,
            zoomControlOptions: {
                position: google.maps.ControlPosition.LEFT_CENTER
            },
            clickableLabels: false
        });
    }
    function imageDetayClick() {
        var thumbArr = thumbsList.split(',');
        var PicsArr = PicsList.split(',');
        $("#imageModalBody").html("");
        $("#imageModalBody").append("<ul id='lightSlider'></ul>");
        $("#imageModalLabel").html(modalTitle);
        for (var i = 0; i < thumbArr.length - 1; i++) {
            $("#lightSlider").append('<li data-thumb="' + thumbArr[i] + '"> <a href="#"><img src="' + PicsArr[i] + '" /></a> </li>')
        }
        $("#lightSlider").lightSlider({
            gallery: true,
            item: 1,
            loop: false,
            slideMargin: 0,
            thumbItem: 9,
            responsive: []
        });
        $('#imageModal').modal({
            backdrop: false
        });
    }

    function reviewDetayClick() {
        $("#reviewModalBody").html("");
        $("#rateModalLabel").html(modalTitle);
        for (var i = 0; i < reviewsObj.length; i++) {
            $("#reviewModalBody").append("<div class='panel panel-default'><div class='panel-heading' role='tab' id='headingThree'><h4 class='panel-title'><a class='collapsed' data-toggle='collapse' data-parent='#accordion' href='#collapse" + i + "' aria-expanded='false' aria-controls='collapse" + i + "'>" + reviewsObj[i].author_name + "<i class='mdi-hardware-keyboard-arrow-down' style='margin-left: 5px'></i></a><span id='rate" + i + "'style='float: right;'></span></h4></div><div id='collapse" + i + "' class='panel-collapse collapse' role='tabpanel' aria-labelledby='headingThree'><div class='panel-body'>" + reviewsObj[i].text + "</div></div></div>");
            $('#rate' + i).raty({
                numberMax: 5,
                readOnly: true,
                score: reviewsObj[i].rating
            });
        }
        $('#rateModal').modal({

        });
        $('#collapse0').collapse({
            toggle: true
        });
    }
    function clearOverlays() {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
        //$('.marker').remove()
        markers.length = 0;
        map.setZoom(14);
        map.setCenter(new google.maps.LatLng(lt, lg));
    }
    function getlaces() {
        infoBubble.close();
        $('.preloader-wrapper').show();
        clearOverlays();
        jQuery('#places').html('');
        placesList = document.getElementById('places');
        service = new google.maps.places.PlacesService(map);

        $.ajax({
            url: '../Content/Data/' + placeType + 'Detay.txt',
            type: 'GET',
            success: detayCallback,
            error: detayCallback
        });
    }

    function callback(data) {
        var obj = JSON.parse(data);
        for (var i = 0; i < obj.length; i++) {
            createMarker(obj[i]);
            count++;
        }
        $('.preloader-wrapper').hide();
    }
    function detayCallback(data) {
        x = JSON.parse(data);
        $.ajax({
            url: '../Content/Data/' + placeType + '.txt',
            type: 'GET',
            success: callback,
            error: callback
        });
    }

    function createMarker(place) {
        //var image = {
        //    url: place.icon,
        //    scaledSize: new google.maps.Size(25, 25)
        //};
        var myLatlng = new google.maps.LatLng(place.geometry.location.k, place.geometry.location.D);
        var marker = new google.maps.Marker({
            map: map,
            //icon: {
            //    path: google.maps.SymbolPath.CIRCLE,
            //    scale: 1
            //},
            position: myLatlng
        });
        markers.push(marker);

        //  var overlay = new CustomMarker(
        //    myLatlng,
        //    map,
        //    {
        //        marker_id: 'mdi-maps-local-' + placeType,
        //        request: { placeId: place.place_id },
        //        marker: marker
        //    }
        //);

        var details = jQuery.grep(x, function (a) {
            return a.id == place.id;
        });

        var request = { placeId: place.place_id };
        google.maps.event.addDomListener(marker, "click", function (event) {

            if ($('#panel').css('top') != "60px") {
                $('#panel-body').toggle();
                $('#panel').css({ top: '60px' });
                $('#panel').css({ width: '100px' });
            }
            service.getDetails(request, function (details, status) {
                thumbsList = "";
                PicsList = "";
                var content = "<div class='scrollFix'><div class='detailTitle'>" + details.name + "</div>";
                if (details.formatted_address != undefined) {
                    content += details.formatted_address + "<br />";
                }
                if (details.website != undefined) {
                    content += '<a href="' + details.website + '">' + details.website + '</a>' + "<br />";
                }
                if (details.rating != undefined) {
                    content += details.rating + "<br />";
                }
                if (details.formatted_phone_number != undefined) {
                    content += '<a href="tel:' + details.international_phone_number + '">' + details.formatted_phone_number + '</a>';
                }
                if (details.photos != undefined) {
                    modalTitle = details.name;
                    for (var i = 0; i < details.photos.length; i++) {
                        thumbsList += details.photos[i].getUrl({ 'maxWidth': 30, 'maxHeight': 30 }) + ",";
                        PicsList += details.photos[i].getUrl({ 'maxWidth': 300, 'maxHeight': 300 }) + ",";
                    }
                    content += "<a class='btn-floating btn pink lighten-3' style='float:right;margin-left: 10px;' onClick='imageDetayClick()'><i class='mdi-image-photo-camera'></i></a>";
                }
                if (details.reviews != undefined) {
                    modalTitle = details.name;
                    reviewsObj = details.reviews
                    content += "<a class='btn-floating btn pink lighten-3' style='float:right' onClick='reviewDetayClick()'><i class='mdi-editor-insert-comment'></i></a>";
                }
                content += "</div>";

                infoBubble.setContent(content);
                infoBubble.open(map, marker);
            });
        });
        jQuery('#places').append('<li data-placeid="' + place.place_id + '">' + details[0].name + '<small></small></li>');
        //if (place.opening_hours != undefined) {
        //    if (place.opening_hours.open_now) {
        //        if (place.rating != undefined) {
        //            jQuery('#places').append('<li class="open" data-placeid="' + place.place_id + '">' + details[0].name + ' - ' + place.rating + '/5<small></small></li>');
        //            count2++;
        //        }
        //        else { jQuery('#places').append('<li class="open" data-placeid="' + place.place_id + '">' + details[0].name + '<small></small></li>'); }
        //        count2++;
        //    }
        //}
        //else {
        //    if (place.rating != undefined) {
        //        jQuery('#places').append('<li data-placeid="' + place.place_id + '">' + details[0].name + ' - ' + place.rating + '/5<small></small></li>');
        //        count2++;
        //    }
        //    else {
        //        jQuery('#places').append('<li data-placeid="' + place.place_id + '">' + details[0].name + '<small></small></li>');
        //        count2++;
        //    }
        //}
    }

    google.maps.event.addDomListener(window, 'load', initialize);
    jQuery(document).on('click', '#places li', function () {

        if ($('#panel').css('top') != "60px") {
            $('#panel-body').toggle();
            $('#panel').css({ top: '60px' });
            $('#panel').css({ width: '100px' });
        }
        var self = jQuery(this);
        //$('.details').remove();
        var request = { placeId: self.data('placeid') };
        service.getDetails(request, function (details, status) {

            //    var content = "<div class='details'><br />";
            //    if (details.formatted_address != undefined) {
            //        content += details.formatted_address + "<br />";
            //    }
            //    if (details.website != undefined) {
            //        content += details.website + "<br />";
            //    }
            //    if (details.rating != undefined) {
            //        content += details.rating + "<br />";
            //    }
            //    if (details.formatted_phone_number != undefined) {
            //        content += details.formatted_phone_number;
            //    }
            //    content += "</div>";

            //    jQuery('small', self).html(content);
            map.setZoom(20);
            map.panTo(details.geometry.location);
        });
    });
</script>
<div id="menu">
    <ul>
        <li><a id="bar"><i class="mdi-maps-local-bar" style="padding-right: 10px;"></i>Bar</a></li>
        <li>
            <a id=""><i class="mdi-maps-local-restaurant" style="padding-right: 10px;"></i>Food</a>
            <ul>
                <li><a id="restaurant"><i class="mdi-maps-local-restaurant" style="padding-right: 10px;"></i>Restaurant</a></li>
                <li><a id="pizza"><i class="mdi-maps-local-pizza" style="padding-right: 10px;"></i>Pizza</a></li>
                <li><a id="kebap"><i class="mdi-maps-local-restaurant" style="padding-right: 10px;"></i>Kebap</a></li>
            </ul>
        </li>
        <li><a id="taxi"><i class="mdi-maps-local-taxi" style="padding-right: 10px;"></i>Taxi</a></li>
        <li><a id="atm"><i class="mdi-maps-local-atm" style="padding-right: 10px;"></i>ATM</a></li>
        <li><a id="bag"><i class="mdi-action-shopping-basket" style="padding-right: 10px;"></i>Luggage & Bags</a></li>
        <li>
            <a id=""><i class="mdi-maps-directions-car" style="padding-right: 10px;"></i>Rent A Car/Bicycle</a>
            <ul>
                <li><a id="bike"><i class="mdi-maps-directions-bike" style="padding-right: 10px;"></i>Bicycle</a></li>
                <li><a id="car"><i class="mdi-maps-directions-car" style="padding-right: 10px;"></i>Car</a></li>
            </ul>
        </li>
    </ul>
</div>
<a id="hamburger" class="waves-effect waves-light btn light-blue accent-2" style="position: fixed; top: 60px; left: 0px; padding-right: 8px; padding-left: 18px;" href="#menu"><i class="mdi-action-list" style="float:right"></i></a>
<div style="margin-top:50px">

    <div id="map-canvas"></div>

    <div id="panel" class="visible open">
        <a id="togglePanel" class="waves-effect waves-light btn light-blue accent-2" style="width: 100%; padding-left: 5px; padding-right: 5px;"> <span>places</span><i class="mdi-action-list" style="float:right"></i></a>
        <div id="panel-body">
            <ul id="places"></ul>
        </div>
    </div>

    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-title" id="imageModalLabel">Modal title</div>
                </div>
                <div class="modal-body" id="imageModalBody">
                    <ul id="lightSlider"></ul>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="rateModal" tabindex="-1" role="dialog" aria-labelledby="rateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-title" id="rateModalLabel">Modal title</div>
                </div>
                <div class="modal-title-review">Reviews</div>
                <div class="modal-body" id="reviewModalBody">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-red-only">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>
</div>